@import '../../styles/theme';
.hero{
    background: $lsblack;
    padding: 0% 2%;
.content{
    width: 60%;
    color: $white;
    padding: 5rem 0;
    p{
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.5;
    }
    h2{
        font-size: 3rem;
    }
    .name{
        color: $aqua;
        display: block;
        font-size: 3rem;
        font-weight: 400;
    }
}
}